<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup Challenge</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/footer.css">
</head>
<body>    

    <footer>

        <div>
          <div class="container">
      
            <!-- Grid row-->
            <div class="row py-0 d-flex align-items-center">
      
              <!-- Grid column -->
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"></div>
              
              
            </div>
            <!-- Grid row-->
      
          </div>
        </div>
      
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">
      
          <!-- Grid row -->
          <div class="row mt-3 dark-grey-text">
      
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
      
              <!-- Content -->
              <h6 class="text-uppercase ">ECHAlliance</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              
              <!---->
              
              <p>
                <i class="fab fa-twitter"><a id="subr" href=""> ECHAlliance</a></i> 
            </p>
            <p>
                <i class="fab fa-linkedin-in"><a id="subr" href="">  ECHAlliance Argentina</a></i>
            </p>
            <p><a href=""><img src="../images/echNegro.png" alt=""></a></p>
      
            </div>
            <!-- Grid column -->
      
    
      
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      
              <!-- Links -->
              <h6 class="text-uppercase ">Menú</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a id="subr" class="dark-grey-text" href=''>Aplicá</a>
              </p>
              <p>
                <a id="subr" class="dark-grey-text" href=''>Inicio</a>
              </p>
              <p>
                <a id="subr" class="dark-grey-text" href=''>Bases y condiciones</a>
              </p>
              <p>
                <a id="subr" class="dark-grey-text" href="">Contacto</a>
              </p>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      
              <!-- Links -->
              <h6 id="footer" class="text-uppercase ">AvantLab</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

             <!--  -->
                <p>
                    <i class="fab fa-instagram"><a id="subr" href="">  Avant_lab</a></i>  
                </p>
                <p>
                    <i class="fab fa-twitter"><a id="subr" href="">  Avant_lab</a></i> 
                </p>
                <p>
                    <i class="fab fa-linkedin-in"><a id="subr" href="">  AvantLab</a></i>
                </p>
                <p>
                    <a href=""><img src="../images/avantNegro.png" alt=""></a>
                </p>
            
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
          <a id="subr" class="dark-grey-text" href="https://github.com/alejandroareco/grupo7_ecommerce">Patricio Fernandez</a>
        </div>
        <!-- Copyright -->
      
      </footer>
    
           
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>