<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup Challenge</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/header.css">
</head>
<body>    

    <div class="row">
        <div class="col-4">
                <a id="zoom" href="http://www.echalliance.com"><img id="zoom" class="logoech" src="../images/echlogo.png" alt=""></a>
           
                <a id="zoom" href="http://www.avantlab.com.ar"><img id="zoom" class="logoavant" src="../images/avantlabLogo.png" alt=""></a>
            
        </div>
 
        <div class="col-8">
            <ul id="lista1">
                <li>
                    <a id="subr" href="https://www.f6s.com/avantlabaceleradora/apply"> Aplicá </a>
                </li>
                
                <li>
                    <span class="separador">| </span><a id="subr" href=""> Home </a>
                </li>
                <li>
                    <span class="separador">| </span><a id="subr" href=""> Bases y Condiciones </a>
                </li>
                <li>
                    <span class="separador">| </span><a id="subr" href=""> Contacto</a>
                </li>
             </ul>
        </div>
      </div>

       <!--<h1>DESAFIO STARTUP</h1> -->
        <img id="nivel" src="../images/banerHome.jpg" alt="">
           
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>