<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup Challenge</title>
    <link rel="stylesheet" href="../stylesheets/home.css">
</head>

<header>
    <div class="logos">
        <ul>
            <li>
                <img class="logoech" src="../images/echlogo.png" alt="">
            </li>
            <li>
                <img class="logoavant" src="../images/avantlabLogo.jpg" alt="">
            </li>
        </ul>
    </div>
</header>
<body>
    
</body>
<footer>

</footer>

</html>