footer{
    background-image: url("../images/slide.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    color: honeydew;
}
#subr{
    color: whitesmoke;
}
p i{
    font-size: large;
}
p a{
    font-size: large;
}